<a href="https://colab.research.google.com/github/thoriqfarras/titanic_survivor_prediction/blob/main/ml_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [13]:
passengers = pd.read_csv('https://raw.githubusercontent.com/thoriqfarras/titanic_survivor_prediction/main/train.csv')
passengers

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
# remove missing age values
passengers_modified = passengers.loc[passengers['Age'] > 0]

# prediction features
features = ['Pclass', 'Age', 'SibSp', 'Parch']
X = passengers_modified[features]

# prediction target
y = passengers_modified['Survived']

In [31]:
# data validation
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(train_X, train_y)
rf_val_predictions = np.around(rf_model.predict(val_X), 0)
rf_val_mae = mean_absolute_error(rf_val_predictions, val_y)
print(rf_val_mae)

0.3128491620111732

In [29]:
# train model on full data
rf_model_full = RandomForestRegressor(random_state=1)
rf_model_full.fit(X, y)

test_preds = np.around(rf_model_full.predict(X), 0)
test_preds_mae = mean_absolute_error(test_preds, y)
test_preds_mae

0.12745098039215685